body {
  border: 0px;
  margin: 0px;
  font-family: "DM Sans", sans-serif;
}
@font-face {
  font-family: "mulish";
  font-family: "DM Sans";
}

.logodiv {
  width: 199.48px;
}

.navlink {
  display: flex;
  gap: 45px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.53px;
  color: #696871;
}

.homespan:hover {
  color: black;
  border-bottom: #5454d4 3px solid;
}

.featurespan:hover {
  color: black;
  border-bottom: #5454d4 3px solid;
}

.pricingspan:hover {
  color: black;
  border-bottom: #5454d4 3px solid;
}

.blogspan:hover {
  color: black;
  border-bottom: #5454d4 3px solid;
}

.navbut {
  background-color: #ff7143;
  font-size: 17px;
  font-weight: 700;
  line-height: 22.13px;
  align-items: center;
  width: 211px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 100px;
}

.heroheading {
  font-size: 80px;
  font-weight: 700;
  line-height: 77px;
  color: #19191b;
}

.heropara {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #696871;
}

.herobut {
  background-color: #5454d4;
  font-size: 17px;
  font-weight: 700;
  line-height: 22.13px;
  width: 211px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: white;
}

.downarrow {
  width: 60px;
  height: 60px;
}

.herobutdiv {
  display: flex;
  justify-items: center;
  gap: 40px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-left: 30px;
}
.heroimg > img{
  width: 100%;
  height: 100%;
}
.heroimg{
  width: 610px;
}
.iconpdiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-left: 30px;
}
.sec3h5 {
  font-size: 50px;
  font-weight: 700;
  line-height: 57px;
}

.sec3p1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: "mulish";
  color: #696871;
}

.sec3p2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 22.13px;
  color: #5454d4;
}

.sec3parentdiv {
  display: flex;
  justify-content: space-around;
  padding-top: 159.75px;
  padding-left: 30px;
}

.sec4h5 {
  font-size: 50px;
  font-weight: 700;
  line-height: 57px;
}

.sec4p1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: "mulish";
  color: #696871;
}

.sec4p2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 22.13px;
  color: #5454d4;
}

.sec4parentdiv {
  display: flex;
  justify-content: space-around;
  padding-top: 159.75px;
  padding-left: 30px;
}

.sec5div1 {
  text-align: center;
}

.sec5div1h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.sec5div1p1 {
  font-family: "mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #696871;
}

.sec5div2 {
  text-align: center;
}

.sec5div2h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.sec5div2p1 {
  font-family: "mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #696871;
}

.sec5div3 {
  text-align: center;
}

.sec5div3h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.sec5div3p1 {
  font-family: "mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #696871;
}

.sec5parentdiv {
  display: flex;
  justify-content: space-around;
  padding-top: 138px;
  padding-left: 30px;
}

.sec6div1h4 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

.sec6div1but1 {
  color: white;
  background-color: #5454d4;
  border: none;
  width: 160px;
  height: 55px;
  font-size: 16px;
}

.sec6div1but2 {
  color: black;
  background-color: #f7f7fb;
  border: none;
  width: 160px;
  height: 55px;
  font-size: 16px;
}

.sec6div1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
}

p {
  font-size: 17px;
  color: #696871;
  @font-face {
    font-family: "mulish";
  }
  font-weight: 400;
}

.sec7div1 {
  background-color: #f8f8f8;
  width: 330px;
  height: 441px;
  text-align: center;
  padding-top: 34px;
  border-radius: 10px;
}

.sec7div1p1 {
  font-size: 18px;
  font-weight: 400;
  color: #696871;
  line-height: 28px;
}

.sec7div1p2 {
  font-size: 60px;
  font-weight: 700;
  color: black;
  line-height: 56px;
}

button {
  width: 285px;
  height: 60px;
  background-color: white;
  color: #5454d4;
  font-size: 17px;
  font-weight: 700;
  line-height: 22.13px;
  border: none;
  border-radius: 10px;
}

.sec7div2 {
  background-color: #ff7143;
  width: 376px;
  height: 473px;
  text-align: center;
  padding-top: 34px;
  border-radius: 10px;
}

.sec7div2p1 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 28px;
}

.sec7div2p2 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  line-height: 56px;
}

.sec7div2but {
  width: 285px;
  height: 60px;
  background-color: #9f3919;
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 22.13px;
  border: none;
  border-radius: 10px;
}

.sec7d2s {
  font-size: 28px;
}

.sec7div2p3 {
  font-size: 17px;
  color: white;
  @font-face {
    font-family: "mulish";
  }
  font-weight: 400;
}

.sec7div2p4 {
  font-size: 17px;
  color: white;
  @font-face {
    font-family: "mulish";
  }
  font-weight: 400;
}

.sec7div2p5 {
  font-size: 17px;
  color: white;
  @font-face {
    font-family: "mulish";
  }
  font-weight: 400;
}

.sec7div3 {
  background-color: #f8f8f8;
  width: 330px;
  height: 441px;
  text-align: center;
  padding-top: 34px;
  border-radius: 10px;
}

.sec7div3p1 {
  font-size: 18px;
  font-weight: 400;
  color: #696871;
  line-height: 28px;
}

.sec7div3p2 {
  font-size: 60px;
  font-weight: 700;
  color: black;
  line-height: 56px;
}

.sec7d3s {
  font-size: 28px;
}

.sec7pdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}


.menubar{
  fill: #5454d4;

}

.mobilemenu{
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 50px;


}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobilemenu{
    display: flex;
  }
 
.hero{
  display: block;
  gap: 50px;
}

.herotext{
  padding-bottom: 70px;
}

.sec3parentdiv{
  display: block;
}

.sec4parentdiv{
  display: block;
}

.sec5parentdiv{
  display: block;
}

.sec5div1p1{
  padding-bottom: 50px;
}

.sec5div2p1{
  padding-bottom: 50px;

}

.sec6div1{
  display: block;
}

.iconpdiv{
  gap: 10px;
}

.sec7pdiv{
  display: block;
}

.sec6but{
  padding-bottom: 50px;
}

}
